:root {
  --scroll_icon_top: 32vw;
}

@font-face 
{
  font-family: 'Roboto-Thin';
  src: url(fonts/Roboto-Thin.ttf);
}
@font-face 
{
  font-family: 'Roboto-Regular';
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face 
{
  font-family: 'Roboto-Light';
  src: url(fonts/Roboto-Light.ttf);
}

body
{
  margin: 0px;
  background-color: #fbfbfd ;
  min-height: 100%;
}

ul
{
  font-family: "Roboto-Regular";
  font-size: 18px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #313132;
}

li
{
  display: inline-block;
}

li a 
{
  display: block;
  padding: 5px 5px;
  margin: 5px 5px;
  color: #d6d6d6;
  text-decoration: none;
}

.desig_span
{
color: #1d297a;
font-size: 0.75em;
}

.hero_image
{
  background-image: url("hero_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 20vw;
  width: 20vw;
  top: 7vw;
  right: 15vw;
  transition-duration: 300ms;
}

.hero_image:hover
{
  transform: scale(105%, 105%);
  filter: drop-shadow(5px 1px 4px #1d1d1f);
}

.hero_text
{
  font-family: "Roboto-Light";
  font-size: 2vw;
  color: #1d1d1f;
  text-align: left;
  position: absolute;
  top: 8.7vw;
  left: 15vw;
}

.intro_lines
{
  font-family: "Roboto-Light";
  font-size: 1.3vw;
  color: #1d1d1f;
  text-align: left;
  position: absolute;
  top: 24vw;
  left: 15vw;
  right: 55vw;
}

.scroll_down
{
  font-family: "Roboto-Light";
  color: #1d1d1f;
  position: absolute;
  top: var(--scroll_icon_top);
  left: 50vw;
  right: 50vw;
  animation-name: size_breath_in_out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes size_breath_in_out
{
  0% {font-size: 2vw;}
  50% {font-size: 3.5vw; color: #8d0e05;top: 37vw;}
  100% {font-size: 2vw;}
}


@media screen and (max-width: 800px) and (min-width: 427px)
{

.hero_image
{
  height: 25vw;
  width: 25vw;
  top: 12vw;
  right: 15vw;
}
.hero_text
{
  font-size: 2.5vw;
  top: 14vw;
  left: 15vw;
}

.intro_lines
{
  top: 32vw;
  left: 15vw;
  right: 55vw;
}

.scroll_down
{
  top: calc(var(--scroll_icon_top) + 7vw);
  left: 50vw;
  right: 50vw;
}

@keyframes size_breath_in_out
{
  0% {font-size: 2vw;}
  50% {font-size: 3.5vw; color: #8d0e05;top: calc(var(--scroll_icon_top) + 12vw);}
  100% {font-size: 2vw;}
}

}

/*
@media screen and (max-width: 899px) and (min-width: 680px)
{

.hero_image
{
  height: 35%;
  width: 35%;
  top: 10%;
  right: 7%;
  transition-duration: 300ms;
}
.hero_text
{
  font-size: 3.5vw;
  top: 13%;
  left: 7%;
}

}



@media screen and (max-width: 679px) and (min-width: 427px)
{

.hero_image
{
  height: 30%;
  width: 30%;
  top: 10%;
  right: 7%;
  transition-duration: 300ms;
}
.hero_text
{
  font-size: 3.5vw;
  top: 10%;
  left: 7%;
}

}


*/
@media screen and (max-width: 426px)
{

.hero_image
{
  height: 50vw;
  width: 50vw;
  top: 18vw;
  right: 33vw;
  left: 25vw;
}
.hero_text
{
  font-size: 3.5vw;
  top: 62vw;
  left: 1vw;
  right: 1vw;
  text-align: center;
}

.intro_lines
{
  text-align: center;
  font-size: 4.5vw;
  top: 90vw;
  left: 10vw;
  right: 10vw;
}

.scroll_down
{
  top: calc(115vw);
  left: 50vw;
  right: 50vw;
}

@keyframes size_breath_in_out
{
  0% {font-size: 5vw;}
  50% {font-size: 7.5vw; color: #8d0e05;top: calc(115vw + 13vw);}
  100% {font-size: 5vw;}
}

}